<app-navbar></app-navbar>
<div class="portfolio_container">
    <div class="portfolio_wrapper">
        <div class="col photoretouch">
            <div class="status_bar"></div>
            <h1>Photo retouch</h1>
            <p>
                With a range of photo touchup tools to transform you portraits and photos, Fotor's Beauty Feature can bring out the radiant ‘you’ and give your photos makeup and a makeover - regardless of picture quality. With everything you need for portrait editing,
                you’ll never take a bad shot again.
            </p>
            <div class="shadow_top"></div>
        </div>
        <div class="col illustration">
            <div class="status_bar"></div>
            <h1>Illustration</h1>
            <p>
                An illustration is a decoration, interpretation or visual explanation of a text, concept or process, designed for integration in published media, such as posters, flyers, magazines, books, teaching materials, animations, video games and films.
            </p>
            <div class="shadow_top"></div>
        </div>
        <div class="col motion_design">
            <div class="status_bar"></div>
            <h1>Motion design</h1>
            <p>
                Ever since motion graphics first entered the scene, there’s been a debate about the line between them and full animation. The opening credits of Hitchcock’s Psycho is an early example of motion graphics, where the marriage of sound, motion, and graphic
                design come together exceptionally well.
            </p>
            <div class="shadow_top"></div>
        </div>
        <div class="col web_design">
            <div class="status_bar"></div>
            <h1>Website design</h1>
            <p>
                Every website template comes with built-in integrations, so you don't have to navigate an app marketplace or install any plugins. We offer top integrations: Adobe Creative Suite, Google Drive, Getty Images, and more.
            </p>
            <div class="shadow_top"></div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>