<ul class="navbar">
        <li class="prvi" [@scrollAnimation]="state">
            <a routerLink="/portfolio" class="navLinks">portfolio</a>
        </li>
        <li class="drugi"[@scrollAnimation]="state" >
            <a routerLink="/home" class="navLinks">home</a>
        </li>
        <li class="logo" [@scrollAnimation]="state">
            <img src="./assets/OMLOGO.svg">
        </li>
        <li class="treci"[@scrollAnimation]="state" >
                <a routerLink="/hire" class="navLinks">hire</a>
        </li>
        <li class="cetvrti"[@scrollAnimation]="state">
            <a routerLink="#" class="navLinks">about</a>
        </li>
</ul>
<div class="container_ispod"></div>